.weather-location-container {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, .75);
  cursor: pointer;
}

.location-container {
  padding: 0;
  width: 100%;
  height: 35px;
  color: #888888;
  overflow: hidden;
}

.location-container h1 {
  margin: 0;
  white-space: nowrap;
}