.details {
  padding: 0 16px;
  background-color: #999999;
  width: 100%;
  height: calc(100vh - 74px - 167px);
  overflow: auto;
  box-sizing: border-box;
}

.location-list {
  margin-bottom: 16px;
  max-height: 167px;
  overflow: auto;
}

.forecast-title {
  margin: 0;
  padding: 8px;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .details {
    height: calc(100vh - 74px);
  }

  .location-list {
    margin: 0;
    max-height: calc(100vh - 74px);
  }
}