.weather-data-container {
  margin: 0;
  padding: 8px;
  background-color: rgba(200, 200, 200, .5);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.weather-temperature-container {
  width: 60%;
  display: flex;
  align-items: flex-start;
}

.weather-temperature-container .icon {
  color: rgb(255, 72, 0);
}

.weather-temperature-container .temperature {
  font-size: 28px;
  font-weight: bold;
  padding-left: 16px;
  color: #333333;
}

.weather-temperature-container .temperature-type {
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}

.weather-extra-info-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.weather-extra-info-container .extra-info-text {
  display: flex;
  color: #1535c5;
  font-size: 16px;
  font-weight: bold;
}
